name: Attendo Fastlane with Firebase App Distribution Workflow



on:
  push:
    branches:
      - release

jobs:
  distribute_tofirebase:
    run-on: ubuntu-latest
    steps:
    - name: Chechout my repo code
      uses: actions/checkout@v2

    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'temurin'

    - name: Install FLutter
      uses: subosito/flutter-action@v2
      with:
        channel: stable
    
    - name: Setup Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: "3.2.3"
        bundler-cache: true
        working-directory: android

    - name: Build and Distribute App
      env:
        FIREBASE_CLI_TOKEN: ${{ secrets.FIREBASE_CLI_TOKEN }}
      run: |
        bundle exec fastlande android firebase_distribution
      working-directory: android


